<div id="direct-territory-{{id}}-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button id="direct-territory-{{id}}-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Direct Territory</h4>
			</div>
			<div class="modal-body">
				<form id="direct-territory-{{id}}-form" class="form-horizontal" role="form">
					<div class="form-group">
						<label for="direct-territory-{{id}}-investor" class="control-label col-xs-2">Investor:</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="direct-territory-{{id}}-investor" value="{{investor}}" >
						</div>
					</div>
					<div class="form-group">
						<label for="direct-territory-{{id}}-amount" class="control-label col-xs-2">Amount:</label>
						<div class="col-xs-2">
							<select name="currency_code" id="direct-territory-{{id}}-currency" class="form-control">
								<option value="AUD">AUD</option>
								<option value="BRL">BRL </option>
								<option value="CAD" selected="selected">CAD</option>
								<option value="CZK">CZK</option>
								<option value="DKK">DKK</option>
								<option value="EUR">EUR</option>
								<option value="HKD">HKD</option>
								<option value="HUF">HUF </option>
								<option value="ILS">ILS</option>
								<option value="JPY">JPY</option>
								<option value="MYR">MYR</option>
								<option value="MXN">MXN</option>
								<option value="NOK">NOK</option>
								<option value="NZD">NZD</option>
								<option value="PHP">PHP</option>
								<option value="PLN">PLN</option>
								<option value="GBP">GBP</option>
								<option value="SGD">SGD</option>
								<option value="SEK">SEK</option>
								<option value="CHF">CHF</option>
								<option value="TWD">TWD</option>
								<option value="THB">THB</option>
								<option value="TRY">TRY</option>
								<option value="USD">USD</option>
							</select>
						</div>
						<div class="col-xs-7">
							<input type="number" min="0" class="form-control" id="direct-territory-{{id}}-amount" value="{{amount}}">
						</div>
					</div>
					<div class="form-group">
						<label for="direct-territory-{{id}}-territory" class="control-label col-xs-2">Territory:</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" id="direct-territory-{{id}}-territory" value="{{territory}}">
						</div>
						<label for="direct-territory-{{id}}-overages" class="control-label col-xs-2">Overages Retained:</label>
						<div class="col-xs-3">
							<input type="number" min="0" max="100" class="form-control" id="direct-territory-{{id}}-equity" value="{{overages}}">
						</div>
					</div>
					<div class="form-group">
						<label for="direct-territory-{{id}}-equity" class="control-label col-xs-2">Equity %:</label>
						<div class="col-xs-3">
							<input type="number" min="0" max="100" class="form-control" id="direct-territory-{{id}}-equity" value="{{equity}}">
						</div>
					</div>
					<div class="form-group">
						<label for="direct-territory-{{id}}-has-premium" class="control-label col-xs-3"> Is There a Recoupment Premium?</label>
						<div class="form-group col-xs-3">
							<label class="cr-styled" >
								<input type="checkbox" {{#if hasPremium}}checked="checked"{{/if}}>
								<i class="fa"></i>
								Yes
							</label>
						</div>
					</div>
					{{#if hasPremium}}
						<div class="form-group">
							<label for="direct-territory-{{id}}-premium" class="control-label col-xs-2">Premium %:</label>
							<div class="col-xs-3">
								<input type="number" min="0" max="100" class="form-control" id="direct-territory-{{id}}-premium" value="{{premium}}">
							</div>
						</div>
					{{/if}}
					{{#unless hasPremium}}
						<div class="form-group hidden">
							<label for="direct-territory-{{id}}-equity" class="control-label col-xs-2">Equity %:</label>
							<div class="col-xs-3">
								<input type="number" min="0" max="100" class="form-control" id="direct-territory-{{id}}-equity" value="0">
							</div>
						</div>
					{{/unless}}
					<div class="form-group">
						<label for="direct-territory-{{id}}-has-arrangement" class="control-label col-xs-3"> Is There an Arrangement Fee?</label>
						<div class="form-group col-xs-3">
							<label class="cr-styled">
								<input type="checkbox" {{#if hasArrangement}}checked{{/if}}>
								<i class="fa"></i>
								Yes
							</label>
						</div>
					</div>
					{{#if hasArrangment}}
						<div class="form-group">
							<label for="direct-territory-{{id}}-frontback" class="control-label col-xs-2">Front or Back?</label>
							<div class="form-group col-xs-3">
								<div class="custom-controls-stacked">
									<label class="custom-control custom-radio">
										<input name="radio-stacked" type="radio" class="custom-control-input" {{#if isFront}}checked="checked"{{/if}}>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Front</span>
									</label>
									<br/>
									<label class="custom-control custom-radio">
										<input name="radio-stacked" type="radio" class="custom-control-input" {{#unless isFront}}checked="checked"{{/unless}}>
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Back</span>
									</label>
								</div>
							</div>
						</div>
					{{/if}}
					{{#unless hasArrangement}}
						<div class="form-group hidden">
							<label for="direct-territory-{{id}}-frontback" class="control-label col-xs-2">Front or Back?</label>
							<div class="form-group col-xs-3">
								<div class="custom-controls-stacked">
									<label class="custom-control custom-radio">
										<input name="radio-stacked" type="radio" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Front</span>
									</label>
									<br/>
									<label class="custom-control custom-radio">
										<input name="radio-stacked" type="radio" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Back</span>
									</label>
								</div>
							</div>
						</div>
					{{/unless}}
					{{#if isFront}}
						<div class="form-group">
							<label for="direct-territory-{{id}}-arrangement" class="control-label col-xs-2">Amount Withheld:</label>
							<div class="col-xs-3">
								<input type="number" min="0" max="100" class="form-control" id="direct-territory-{{id}}-arrangement" value="{{arrangement}}">
							</div>
						</div>
					{{/if}}
					{{#unless isFront}}
						<div class="form-group hidden">
							<label for="direct-territory-{{id}}-arrangement" class="control-label col-xs-2">Amount Withheld:</label>
							<div class="col-xs-3">
								<input type="number" min="0" max="100" class="form-control" id="direct-territory-{{id}}-arrangement" value="0">
							</div>
						</div>
					{{/unless}}

					<div class="modal-footer">
						<button id="direct-territory-{{id}}-cancel" type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
						{{#if investor}}
							<button id="direct-territory-{{id}}-edit" class="btn btn-info" data-dismiss="modal">Edit</button>
						{{/if}}
						{{#unless investor}}
							<button id="direct-territory-{{id}}-save" type="button" class="btn btn-info" data-dismiss="modal">Save</button>
						{{/unless}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

