<tr class="default" id="{{type}}-{{id}}-table-row">
	<td>{{investor}}</td>
	<td>{{currency}} {{amount}}</td>
	<td class="actions">
		<button class="btn btn-icon btn-primary action-btn" data-toggle="modal" data-target="#{{type}}-{{id}}-modal" ><i class="fa ion-eye"></i></button>
		<button class="btn btn-icon btn-danger action-btn" data-toggle="modal" data-target="#delete-modal"><i class="fa fa-trash-o"></i></button>
	</td>
	<td id="{{type}}-{{id}}-table-row-id" class="hidden">{{id}}</td>
</tr>
