<tr class="default clickable-row" data-toggle="modal" data-target="#{{type}}-{{id}}-modal" id="{{type}}-{{id}}-table-row">
	<td>{{investor}}</td>
	<td>${{amount}}</td>
	<td id="{{type}}-{{id}}-table-row-id" class="hidden">{{id}}</td>
</tr>
